@charset "utf-8";
@include max($lg-min) {
	#lightbox_detail {
		// reset content to fluid with;
		// return layout to normal insted of lightbox;
		padding: 0 !important;
		.private-offer { // private-offer class;
			
			width: 100%; margin-top: 0;

			.lightboxContent {
				width: 100%; border-radius: 0;
			}
			
			// sidebar;
			.col-lightbox-03 {
				width: 100%;

				// hide banner;
				.block-banner-bvnm-top, .ask_about_product, .block-banner-bvnm-center {
					display: none;
				}
			}

			// head;
			.shopinfo_in_detail {
				width: 100%; background: transparent;
				border: 0 !important; padding: 0; height: 0;
				
				// hide all shopinfo;
				.shop-inf, .ask_about_product {
					display: none;
				}

				// re-style close btn;
				.close-lightbox {
					top: -5px; position: fixed; z-index: 1; right: 35px;
					.icon {
						width: 20px; height: 20px;
					}
				}
			}

			// wrap before main content;
			.lightboxContent-block {
				border-radius: 0; border: 0;

				.col-lightbox-01-02 {
					width: 100%;
				}
			}

			// box image;
			.block-img-attr {

				.block-pro-img {
					width: 30%; float: left; margin-bottom: 0;
				}

				.big-img  {
					width: 100%; padding: 0; max-width: 350px; max-height: 350px;
					margin: 0 auto; float: none;
				}

				.big-img {
					height: auto;

					img {
						width: 100%; display: block; height: auto;
					}
				}

				// hide social;
				.box-fb-go.social {
					display: none;
				}
	
				.small-img {
					width: 100%;
				}
			}

			// box info;
			.block-pro-attr {
				margin: 0; padding: 10px; width: 70%; float: right;

				// hide breadcrumb;
				.detail-breadcrumb {
					display: none;
				}
				
				// product name;
				.box-name {
					border: 1px solid $border; border-left: 0; border-right: 0; padding: 12px 5px;

					.fn {
						font-size: 20px;
					}
				}
				
				// product price;
				.box-price-wirehouse {
					margin-top: 0; border: 0 !important;

					.wirehouse {
						float: right;
					}
				}

				// mobile offer;
				.box-mobile-loyaty {
					display: none;
				}

				// attributes
				.box-attributes {
					background: none; border: 1px solid $border; margin-top: 10px;
					border-left: 0; border-right: 0; padding: 30px 5px;

					.vc-info {

						& > div {
							height: 34px; line-height: 34px; color: #999999; margin: 5px;

							.icon {
								color: #999999; fill: #999999; top: 50%; transform: translateY(-50%);
							}
						}

						& > span {
							padding: 5px 0; display: inline-block;
						}
					}

					.box-attr {

						.lb {
							width: 30%;
						}

						.items {
							width: 70%;
						}

						.label {
						    height: 30px; min-width: 35px; line-height: 30px;
						}

						.quality.quantity {
							
							.items {
								position: relative;
							}

							span {
								width: 40px; height: 40px; top: 0 !important; bottom: 0 !important;
								line-height: 40px;

								&.add-qty {
									left: 100px;
								}

								&.sub-qty {
									left: 0;
								}
							}

							.inpt-qty {
								margin-left: 39px; width: 60px; height: 40px; line-height: 40px;
							}
						}
					}
				}
			}

			// product detail content;
			.tab-detail-of-product {
				// re-style tab;
				.tab_li {
					ul {
						height: auto; @include clearfix; width: 100%;
					}

					li {
						

						&.active {
							border-bottom: 1px solid #d3d3d3;
						}

						p {
							width: 100%; text-align: center; padding: 5px 15px;
						}
					}
				}

				// content;
				.tab-product-detail  {
					padding: 10px;
				}
			}

			// shipping modal;
			.modal-shipping-new {
				width: 95% !important; margin: 0; left: 50%; top: 2%;
				border: 0; max-width: 750px;
				transform: translateX(-50%);

				.place_pickup {
					margin: 0; padding: 5px 0 15px 0;
					span, select {
						display: block; width: 100%;
					}

					span {
						padding-bottom: 5px;
					}

					select {
						margin: 0px 0px 5px 0px; height: 30px; line-height: 30px;
					}
				}

				.table-shipping-fee {
					th {
						vertical-align: middle;
					}
				}
			}
		} // end .private-offer
	}
}