@charset "utf-8";
@include max($md-min) {
	#lightbox_detail {

		.private-offer { // .private-offer;
			
			// head;
			.shopinfo_in_detail {
				.close-lightbox {
					right: 10px;
				}
			}
		} // end .private-offer
	}
}