@charset "utf-8";
@include max($sm-min) {
	#lightbox_detail {

		.private-offer { // .private-offer;
			
			// box image;
			.block-img-attr {
				.block-pro-img {
					width: 100%; float: none;
				}

				.small-img {
					display: none;
				}
			}

			// box info;
			.block-pro-attr {
				width: 100%; float: none; clear: both;
			}

			// product detail content;
			.tab-detail-of-product {
				.tab_li {

					li {
						width: 100%; float: none;
					}
				}
			}
		} // end .private-offer
	}
}