@charset "utf-8";

// color
$mainRed: #e60f1e;
$activeRed: #c9141b;
$gray: #f3f1f2;
$link: #0066ff;
$green: #090;
$devil: #666;
$border: #d7d7d7;

// break point
$sm-min: 768px;
$md-min: 992px;
$lg-min: 1200px;

@mixin max($bp) {
	@media all and (max-width : $bp) {
		@content;
	}
}

@mixin min($bp) {
	@media all and (min-width : $bp) {
		@content;
	}
}

@mixin clearfix{
	zoom: 1 !important;

	&:after {
		content: "." !important;
	    display: block !important;
	    height: 0px !important;
	    clear: both !important;
	    visibility: hidden !important;
	}
}