@media all and (max-width: 1200px) {
  #lightbox_detail {
    padding: 0 !important;
  }
  #lightbox_detail .private-offer {
    width: 100%;
    margin-top: 0;
  }
  #lightbox_detail .private-offer .lightboxContent {
    width: 100%;
    border-radius: 0;
  }
  #lightbox_detail .private-offer .col-lightbox-03 {
    width: 100%;
  }
  #lightbox_detail .private-offer .col-lightbox-03 .block-banner-bvnm-top, #lightbox_detail .private-offer .col-lightbox-03 .ask_about_product, #lightbox_detail .private-offer .col-lightbox-03 .block-banner-bvnm-center {
    display: none;
  }
  #lightbox_detail .private-offer .shopinfo_in_detail {
    width: 100%;
    background: transparent;
    border: 0 !important;
    padding: 0;
    height: 0;
  }
  #lightbox_detail .private-offer .shopinfo_in_detail .shop-inf, #lightbox_detail .private-offer .shopinfo_in_detail .ask_about_product {
    display: none;
  }
  #lightbox_detail .private-offer .shopinfo_in_detail .close-lightbox {
    top: -5px;
    position: fixed;
    z-index: 1;
    right: 35px;
  }
  #lightbox_detail .private-offer .shopinfo_in_detail .close-lightbox .icon {
    width: 20px;
    height: 20px;
  }
  #lightbox_detail .private-offer .lightboxContent-block {
    border-radius: 0;
    border: 0;
  }
  #lightbox_detail .private-offer .lightboxContent-block .col-lightbox-01-02 {
    width: 100%;
  }
  #lightbox_detail .private-offer .block-img-attr .block-pro-img {
    width: 30%;
    float: left;
    margin-bottom: 0;
  }
  #lightbox_detail .private-offer .block-img-attr .big-img {
    width: 100%;
    padding: 0;
    max-width: 350px;
    max-height: 350px;
    margin: 0 auto;
    float: none;
  }
  #lightbox_detail .private-offer .block-img-attr .big-img {
    height: auto;
  }
  #lightbox_detail .private-offer .block-img-attr .big-img img {
    width: 100%;
    display: block;
    height: auto;
  }
  #lightbox_detail .private-offer .block-img-attr .box-fb-go.social {
    display: none;
  }
  #lightbox_detail .private-offer .block-img-attr .small-img {
    width: 100%;
  }
  #lightbox_detail .private-offer .block-pro-attr {
    margin: 0;
    padding: 10px;
    width: 70%;
    float: right;
  }
  #lightbox_detail .private-offer .block-pro-attr .detail-breadcrumb {
    display: none;
  }
  #lightbox_detail .private-offer .block-pro-attr .box-name {
    border: 1px solid #d7d7d7;
    border-left: 0;
    border-right: 0;
    padding: 12px 5px;
  }
  #lightbox_detail .private-offer .block-pro-attr .box-name .fn {
    font-size: 20px;
  }
  #lightbox_detail .private-offer .block-pro-attr .box-price-wirehouse {
    margin-top: 0;
    border: 0 !important;
  }
  #lightbox_detail .private-offer .block-pro-attr .box-price-wirehouse .wirehouse {
    float: right;
  }
  #lightbox_detail .private-offer .block-pro-attr .box-mobile-loyaty {
    display: none;
  }
  #lightbox_detail .private-offer .block-pro-attr .box-attributes {
    background: none;
    border: 1px solid #d7d7d7;
    margin-top: 10px;
    border-left: 0;
    border-right: 0;
    padding: 30px 5px;
  }
  #lightbox_detail .private-offer .block-pro-attr .box-attributes .vc-info > div {
    height: 34px;
    line-height: 34px;
    color: #999999;
    margin: 5px;
  }
  #lightbox_detail .private-offer .block-pro-attr .box-attributes .vc-info > div .icon {
    color: #999999;
    fill: #999999;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  #lightbox_detail .private-offer .block-pro-attr .box-attributes .vc-info > span {
    padding: 5px 0;
    display: inline-block;
  }
  #lightbox_detail .private-offer .block-pro-attr .box-attributes .box-attr .lb {
    width: 30%;
  }
  #lightbox_detail .private-offer .block-pro-attr .box-attributes .box-attr .items {
    width: 70%;
  }
  #lightbox_detail .private-offer .block-pro-attr .box-attributes .box-attr .label {
    height: 30px;
    min-width: 35px;
    line-height: 30px;
  }
  #lightbox_detail .private-offer .block-pro-attr .box-attributes .box-attr .quality.quantity .items {
    position: relative;
  }
  #lightbox_detail .private-offer .block-pro-attr .box-attributes .box-attr .quality.quantity span {
    width: 40px;
    height: 40px;
    top: 0 !important;
    bottom: 0 !important;
    line-height: 40px;
  }
  #lightbox_detail .private-offer .block-pro-attr .box-attributes .box-attr .quality.quantity span.add-qty {
    left: 100px;
  }
  #lightbox_detail .private-offer .block-pro-attr .box-attributes .box-attr .quality.quantity span.sub-qty {
    left: 0;
  }
  #lightbox_detail .private-offer .block-pro-attr .box-attributes .box-attr .quality.quantity .inpt-qty {
    margin-left: 39px;
    width: 60px;
    height: 40px;
    line-height: 40px;
  }
  #lightbox_detail .private-offer .tab-detail-of-product .tab_li ul {
    height: auto;
    zoom: 1 !important;
    width: 100%;
  }
  #lightbox_detail .private-offer .tab-detail-of-product .tab_li ul:after {
    content: "." !important;
    display: block !important;
    height: 0px !important;
    clear: both !important;
    visibility: hidden !important;
  }
  #lightbox_detail .private-offer .tab-detail-of-product .tab_li li.active {
    border-bottom: 1px solid #d3d3d3;
  }
  #lightbox_detail .private-offer .tab-detail-of-product .tab_li li p {
    width: 100%;
    text-align: center;
    padding: 5px 15px;
  }
  #lightbox_detail .private-offer .tab-detail-of-product .tab-product-detail {
    padding: 10px;
  }
  #lightbox_detail .private-offer .modal-shipping-new {
    width: 95% !important;
    margin: 0;
    left: 50%;
    top: 2%;
    border: 0;
    max-width: 750px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #lightbox_detail .private-offer .modal-shipping-new .place_pickup {
    margin: 0;
    padding: 5px 0 15px 0;
  }
  #lightbox_detail .private-offer .modal-shipping-new .place_pickup span, #lightbox_detail .private-offer .modal-shipping-new .place_pickup select {
    display: block;
    width: 100%;
  }
  #lightbox_detail .private-offer .modal-shipping-new .place_pickup span {
    padding-bottom: 5px;
  }
  #lightbox_detail .private-offer .modal-shipping-new .place_pickup select {
    margin: 0px 0px 5px 0px;
    height: 30px;
    line-height: 30px;
  }
  #lightbox_detail .private-offer .modal-shipping-new .table-shipping-fee th {
    vertical-align: middle;
  }
}
@media all and (max-width: 992px) {
  #lightbox_detail .private-offer .shopinfo_in_detail .close-lightbox {
    right: 10px;
  }
}
@media all and (max-width: 768px) {
  #lightbox_detail .private-offer .block-img-attr .block-pro-img {
    width: 100%;
    float: none;
  }
  #lightbox_detail .private-offer .block-img-attr .small-img {
    display: none;
  }
  #lightbox_detail .private-offer .block-pro-attr {
    width: 100%;
    float: none;
    clear: both;
  }
  #lightbox_detail .private-offer .tab-detail-of-product .tab_li li {
    width: 100%;
    float: none;
  }
}
